*, html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.pic {
    height: 100vh;
    background-image: url(Desain\ tanpa\ judul\ \(1\).png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex: 3;
}

.pic h1 {
    margin: auto;
    font-size: 10vmin;
}

.txt {
    flex: 2;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

.txt p {
    font-size: 1.2rem;
    margin: auto;
    padding: 1em;
}

.bag {
    width: 80vw;
    height: 60vh;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    height: auto;
    /* background-color: yellow; */
    /* padding: 6px; */
    margin: 5px;
    box-sizing: border-box;
}

.menu:hover {
    transform: scale(1.2, 1.5);
    -webkit-transform: scale(1.2, 1.5);
    -moz-transform: scale(1.2, 1.5);
    -ms-transform: scale(1.2, 1.5);
    -o-transform: scale(1.2, 1.5);
    border: 3px solid salmon;
}

.menu .pic-1, 
.menu .pic-2,
.menu .pic-3 {
    background-size: cover;
    display: flex;
    height: 20vh;
}

.menu .pic-1 {
    background-image: url(y.jpg);
}

.menu .pic-2 {
    background-image: url(u.jpg);
}

.menu .pic-3 {
    background-image: url(yas.jpg);
}

.menu .pic-1 h1, 
.menu .pic-2 h1,
.menu .pic-3 h1 {
    font-size: 2rem;
    margin: auto;
}

.menu .txt {
    height:  auto;
    background-color: grey;
    box-sizing: border-box;
    padding: 2px;
}

.menu .txt p {
    font-size: 1rem;
}

.fill {
    width: 80vw;
    margin: auto;
    height: auto;
    box-sizing: border-box;
}

.fill p {
    font-size: 1rem;
    text-align: center;
    /* background-color: yellow; */
}

/* .fill p:hover {
    color: blue;
} */

.content {
    width: 100vw;
    margin-top: 5em;
}

.kreator1 {
    margin: auto;
    display: flex;
    width: 80vw;
    height: 40vw;
    background-image: url(Desain\ tanpa\ judul\ \(1\).png);
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5em;
}

.kreator1 h1 {
    margin: auto;
}

.kreator2 {
    width: 60vw;
    margin: auto;
}

.kreator2 p {
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        height: 90vh;
        display: block;
        /* border: 2px solid black; */
    }

    .container .pic {
        width: 100vw;
        height: 60vh;
    }

    .container .txt {
        width: 100vw;
        height: 30vh;
        /* margin: auto; */
        /* background-color: yellow; */
    }

    /* .menu:hover {
        translate: 0 -45px;
        transform: scale(1.4, 1.7);
        -webkit-transform: scale(1.4, 1.7);
        -moz-transform: scale(1.4, 1.7);
        -ms-transform: scale(1.4, 1.7);
        -o-transform: scale(1.4, 1.7);
    } */

    .bag {
        width: 80vw;
        height: 90vh;
        /* border: 2px solid black; */
        box-sizing: border-box;
        flex-wrap: wrap;
        margin-bottom: 50px;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* position: relative; */
    }

    .menu {
        margin: 0;
        /* background-color: yellow; */
        /* width: 20vw; */
        height: 24vh;
        /* overflow: hidden; */
    }

    .menu .txt p {
        font-size: .6rem;
    }
}