body, * {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
    scroll-behavior: smooth;
}

div {
    /* background-color: yellow; */
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.button {
    margin: 0 2em 2em 0;
    /* background-color: yellow; */
    /*padding: 2em;
    */text-align: center;
    position: fixed;
    width: 10vw;
    /* height: 30vh; */
    right: 0;
    bottom: 0;
    background-image: url(img/arrow.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
}

.button a {
    font-size: 4rem;
    text-decoration: none;
    color: black;
    opacity: 0;
}

.navbar {
    margin: 4px auto;
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.content {
    margin: 0 2em 0 2em;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .flwm {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.content h1 {
    font-family: 'Times New Roman', Times, serif;
}

.content a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.content a:hover {
    text-decoration: underline;
}

.flex {
    margin: 2rem auto;
    width: 80vw;
    height: auto;
    display: flex;
    box-sizing: border-box;
    /* font-size: 1.5em; */
}

.flex1 {
    flex: 2;
    margin: 0 .5em 0 .5em;
}

.ig {
    margin-top: 1em;
    display: flex;
    align-items: center;
    width: 10vw;
    font-weight: bold;
    /* background-color: yellow; */
}

.ig img {
    height: 5vh;
    margin-right: .5em;
}

.ini {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-right: 5px;
    font-weight: bold;
}

.flex2 {
    flex: 2;
    margin: 0 .5em 0 .5em;
}

.combine {
    margin: 4em 0;
    width: 95vw;
    display: flex;
    align-items: center;
}

.img {
    flex: 2;
    width: 70vw;
    height: auto;
    margin: auto;
    /* background-color: yellow; */
}

.img img {
    width: 45vw;
}

.isi {
    flex: 2;
    /* background-color: yellow; */
}

.compose {
    background-color: black;
}

.compose2 {
    width: 85vw;
    height: auto;
    margin: 4em auto 1em auto;
    overflow-y: hidden;
    overflow-x: scroll;
}

.compose2::-webkit-scrollbar {
    display: none;
}

.over {
    display: flex;
}

.over img {
    height: 90vh;
    margin: 0 1em;
}

.isi2 {
    width: 90vw;
    margin: auto;
    box-sizing: border-box;
}

.video {
    width: 98vw;
    height: auto;
    margin: 4em auto;
    /* background-color: yellow; */
}

.video video {
    width: 98vw;
    margin: auto;
}

.text {
    display: flex;
    width: 90vw;
    height: 100vh;
    margin: 5em auto;
    /* background-color: black; */
    text-align: center;
}

.text .flwm,
.text p {
    margin: auto;
    /* color: white; */
}

.text .flwm {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.text p {
    color: purple;
    font-weight: bold;
}

.absurd {
    margin: auto;
    width: 90vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.absurd img {
    width: 45vw;
}

.copyright {
    width: 90vw;
    margin: 2em auto;
}

@media screen and (max-width: 650px) {

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .content {
        margin: 0 1em 0 1em;
    }

    .content .flwm {
        font-size: 2rem;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    .content a {
        font-size: 30px;
    }

    .flex {
        width: 95vw;
        display: block;
        font-size: 1em;
    }

    .flex1,
    .flex2 {
        margin: 1em;
    }

    .ig img {
        height: 3vh;
    }

    .combine {
        display: block;
        margin: auto;
        width: 90vw;
    }

    .img {
        width: 90vw;
        text-align: center;
        /* background-color: yellow; */
    }

    .img img {
        width: 90vw;
    }

    .isi {
        margin: 1em 0;
    }

    .compose2 {
        width: auto;
    }

    .over img {
        height: 40vh;
    }
}